<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gt.mess.dao.MessOldManCardOrderMapper" >
  <resultMap id="BaseResultMap" type="com.gt.mess.entity.MessOldManCardOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="old_id" property="oldId" jdbcType="INTEGER" />
    <result column="main_id" property="mainId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="department" property="department" jdbcType="VARCHAR" />
    <result column="card_code" property="cardCode" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="meal_type" property="mealType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, old_id, main_id, name, department, card_code, num, sex, time, type, meal_type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_mess_old_man_card_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getMessOldManCardOrderPageByMainId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_mess_old_man_card_order
    where main_id = #{id,jdbcType=INTEGER} and type = 2 order by time desc
  </select>
  <select id="selectMessOldManCardOrder" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_mess_old_man_card_order
    where main_id = #{mainId} 
    <if test="stime != ''">
    <if test="etime != ''">
    and time between #{stime} and #{etime} 
    </if>
    </if>
    <if test="cardCode != ''">
    and card_code = #{cardCode} 
    </if>
    and type = 2 order by time desc
  </select>
  <select id="getCommonMessCardOrderPageByMainId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_mess_old_man_card_order
    where main_id = #{id,jdbcType=INTEGER} and type = 3 order by time desc
  </select>
  <select id="selectMessCommonCardOrder" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_mess_old_man_card_order
    where main_id = #{mainId} 
	<if test="stime != ''">
    <if test="etime != ''">
    and time between #{stime} and #{etime} 
    </if>
    </if>
    <if test="cardCode != ''">
    and card_code = #{cardCode} 
    </if>
	and type = 3 order by time desc
  </select>
  <select id="getMessOldManCardOrderPageByMainId2" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_mess_old_man_card_order
    where main_id = #{id,jdbcType=INTEGER} and (type = 0 or type = 1) order by time desc
  </select>
  <select id="selectMessOldManCardOrder2" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_mess_old_man_card_order
    where main_id = #{mainId} 
    <if test="stime != ''">
    <if test="etime != ''">
    and time between #{stime} and #{etime} 
    </if>
    </if>
    <if test="cardCode != ''">
    and card_code = #{cardCode} 
    </if>
    and (type = 0 or type = 1) order by time desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_mess_old_man_card_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gt.mess.entity.MessOldManCardOrder" >
    insert into t_mess_old_man_card_order (id, old_id, main_id, 
      name, department, card_code, 
      num, sex, time,
      type, meal_type)
    values (#{id,jdbcType=INTEGER}, #{oldId,jdbcType=INTEGER}, #{mainId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR}, #{cardCode,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{sex,jdbcType=INTEGER}, #{time,jdbcType=TIMESTAMP},
      #{type,jdbcType=INTEGER}, #{mealType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.gt.mess.entity.MessOldManCardOrder" >
    insert into t_mess_old_man_card_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oldId != null" >
        old_id,
      </if>
      <if test="mainId != null" >
        main_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="department != null" >
        department,
      </if>
      <if test="cardCode != null" >
        card_code,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="mealType != null" >
        meal_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oldId != null" >
        #{oldId,jdbcType=INTEGER},
      </if>
      <if test="mainId != null" >
        #{mainId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        #{department,jdbcType=VARCHAR},
      </if>
      <if test="cardCode != null" >
        #{cardCode,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="mealType != null" >
        #{mealType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gt.mess.entity.MessOldManCardOrder" >
    update t_mess_old_man_card_order
    <set >
      <if test="oldId != null" >
        old_id = #{oldId,jdbcType=INTEGER},
      </if>
      <if test="mainId != null" >
        main_id = #{mainId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="department != null" >
        department = #{department,jdbcType=VARCHAR},
      </if>
      <if test="cardCode != null" >
        card_code = #{cardCode,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="mealType != null" >
        meal_type = #{mealType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gt.mess.entity.MessOldManCardOrder" >
    update t_mess_old_man_card_order
    set old_id = #{oldId,jdbcType=INTEGER},
      main_id = #{mainId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      department = #{department,jdbcType=VARCHAR},
      card_code = #{cardCode,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      time = #{time,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      meal_type = #{mealType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>